<mat-toolbar color="primary">
    <h1>Notes</h1>
</mat-toolbar>
<div class="notes">

    <div class="add-note">

        <mat-icon>arrow_forward_ios</mat-icon>

        <mat-form-field>
            <mat-label>New Note</mat-label>
            <input matInput type="text">
            <!-- <input matInput type="text" [(ngModel)]="newNoteTitle"> -->
        </mat-form-field>

        <button mat-mini-fab color="warn" aria-label="Add note" (click)="addNote()">
            <mat-icon color="accent">add</mat-icon>
        </button>

    </div>

    <mat-selection-list *ngIf="notes.length > 0" #list>
        <mat-list-option *ngFor="let note of notes" checkboxPosition="before" color="warn"
            [value]="note.title" [ngClass]="{'stroke': note.selected}" [selected]="note.selected"
            (click)="changeSelection(note)"
            >
            {{note.title}}
        </mat-list-option>
    </mat-selection-list>

</div>