.notes {
    padding: 1.25rem;
}

.add-note {
    display: flex;
    align-items: center;
}

.add-note>* {
    margin-left: 10px;
}

mat-list-option {
    display: block;
    max-width: 500px;
    white-space: nowrap;
    border-bottom: 2px solid gray;
}

.stroke{
    text-decoration: line-through;
    color: gray;
}