.notes {
    padding: 1.25rem;
}

.add-note {
    display: flex;
    align-items: center;
}

.add-note>* {
    margin-left: 10px;
}

mat-list-option {
    flex-direction: column;
    max-width: 500px;
    min-height: 48px;
    height: auto !important;
    border-bottom: 2px solid gray;
}

:host ::ng-deep .mat-list-text {
    margin: 7px 0 !important;
    align-items: center;
    flex-direction: row !important;
    justify-content: space-between;
}

.stroke {
    text-decoration: line-through;
    color: gray;
}